<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.project.dao.ChatRoomMapper">

	<insert id="createRoom" parameterType="map">
		insert into chatroom( mateNo, title, master_id)
		values( #{mateNo}, #{title}, #{masterId})
	</insert>
	
	<select id="getAllChatRooms" resultType="map">
	select mateNo, title
	from chatroom
	</select>
	
	<select id="getRoomTitle" resultType="String" parameterType="long">
	select title
	from chatroom
	where mateNo=#{mateNo}
	</select>
</mapper>

<!--useGeneratedKeys="true" keyProperty="id" keyColumn="ChatRoom.id"-->