<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafy.project.dao.ChatRoomMapper">

	<insert id="createRoom" parameterType="map" useGeneratedKeys="true" keyProperty="id" keyColumn="ChatRoom.id">
		insert into chatroom( title, master_id)
		values(#{title}, #{masterId})
	</insert>

	<select id="getRoomId" parameterType="String" resultType="long">
		SELECT id FROM chatroom WHERE title = #{title}
	</select>

	<!-- <select id="getNickName" parameterType="int" resultType="String">
		SELECT userNickname FROM user WHERE userNo = #{userNo}
	</select>

	<insert id="insertMaster" parameterType="int">
		insert into chatroom( master_id )
		values(#{sendId})
	</insert>

	<select id="getChatId" resultType="int">
		SELECT id FROM chatroom WHERE title IS NULL
	</select>

	<insert id="insertTitle" parameterType="String">
		
	</insert> -->
	
	<select id="getAllChatRooms" parameterType="int" resultType="map">
	select distinct c.id, c.title from chatroom c, message m 
	where c.id in (select distinct chatroom_id AS chatroomId from message where sender_id = #{userNo});
	</select>
	
	<select id="getRoomTitle" resultType="String" parameterType="long">
	select title
	from chatroom
	where id=#{id}
	</select>
</mapper>

<!--useGeneratedKeys="true" keyProperty="id" keyColumn="ChatRoom.id"-->